/* src/ReposStyles.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 24px;
        margin-bottom: 40px;
    }

    .refreshButton{
      position: absolute;
      left: 0;
    }
  }
  
  .repoList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
  }
  

  @media(width >= 800px){
    .container{
      margin-top: -150px;
      margin-bottom: 280px;
      h1{
        font-size: 40px;
      }
    }
    .repoList{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
    } 
}