body{
    background-image: url(./assets/UpBgcopy.png);
    background-position: -2175px 0px;
    background-size: 4800px 6000px;
    overflow-x: hidden;
}


@media(width >= 800px){
    body{
        background-position: -1700px -800px;
    }
}
