.img {
    width: 160px;
    height: 100px;
    object-fit: contain;
    max-height: 200px; 
    padding: 25px 0 25px 0;
  }
.p{
    max-width: 20ch;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: 280px;
    margin-bottom: 20px;


    .hr{
        height: 1px;
        margin-top: -6px;
        margin-bottom: 10px;
        width: 80px;
    }
    .topic{
        color: rgb(194, 166, 55);
        font-family: 'Roboto mono';
        font-weight: 600;
    }
}

@media(width >= 800px){
    .container{
        height: 40vh;

        .p{
            font-size: 16px;
        }

        .topic{
            font-size: 14px;
        }
    }
}