.img {
    width: 160px;
    height: 100px;
    object-fit: contain;
    max-height: 200px; 
  }
.p{
    max-width: 20ch;
    font-family: 'Rubik';
    font-weight: 500;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 200px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    background-color: var(--project-card);
    height: 180px;
    padding: 40px;
    padding-top: 30px;



    .hr{
        height: 1px;
        margin-top: -6px;
        margin-bottom: 10px;
        width: 80px;
    }
    .topic{
        color: var(--btn-color);
        font-family: 'Roboto mono';
        font-weight: 800;
    }
}

@media(width >= 800px){
    .container{

        .p{
            font-size: 16px;
        }

        .topic{
            font-size: 14px;
        }
    }
}