.img {
    width: 160px;
    height: 100px;
    object-fit: contain;
    max-height: 200px; 
    padding: 25px 0 25px 0;
  }
.p{
    max-width: 20ch;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: 280px;
    margin-bottom: 40px;
}